<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - 404</title>
    <script src="http://kit.fontawesome.com/31b6ae87dc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
    <link rel="stylesheet" href="/styles/404.css">
</head>
<body>
    <main class="bsod container">
        <h1 class="neg title"><span class="bg">Error - 404</span></h1>
        <p>An error has occurred :</p>
        <h3 class="title titleBorder"><span>Error:</span> <%= msg || 'An unexpected error occurred' %></h3>
        <p>To continue:</p>
        <p>* Return to our homepage.<br />
           * Send us an e-mail about this error and try later.<br />
           * Check API</p>
        <nav class="nav">
          <a href="/" class="link">Home</a>&nbsp;|&nbsp;<a href="mailto:julio.villagrana.sanghelios2@gmail.com" class="link">Webmaster</a>
        </nav>
    </main>
</body>
</html>
